@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /* Primary Colors */
  --main-color: hsl(26, 100%, 55%);
  --hover-color: hsl(25, 100%, 94%);

  /* Neutral Colors */
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);

  /* Lightbox Background */
  --lightbox-background-color: hsl(0, 0%, 0%);
}

.App {
  font-family: 'Kumbh Sans', sans-serif;
}

p {
  font-size: 16px;
}

.App-header {
  min-width: min-content; /* Prevents Overflow */
  max-width: 100%;
}

.App-main {
  min-width: min-content; /* Prevents Overflow */
  max-width: 100%;
  max-height: 100%;
}

.header-container {
  border-bottom: 1px solid var(--grayish-blue);
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-left: 0.5em;
}

.cart-icon {
  cursor: pointer;
}

.avatar-img {
  cursor: pointer;
}

.ptwo, .pthree, .pfour {
  display: none;
}

/* Small devices (phones, 599px and down) */
@media only screen and (max-width: 599.99px) {
  .nav-items {
    display: none;
  }

  .header-container {
    display: flex;
    padding: 1em;
    background-color: var(--white);
  }

  .menu-toggler {
    display: flex;
    align-items: center;
  }

  .logo-section {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 1em;
  }

  .avatar-img-container {
    margin-left: 1.5em;
  }

  .avatar-img {
    height: 30px;
    width: 30px;
  }

  .main-container {
    margin: 0;
    padding: 0;
  }

  .product-img-container {
    display: flex;
    justify-content: center;
  }

  .product-img {
    max-width: 100vw;
  }

  .product-thumbnail-section {
    display: none;
  }

  .product-info-section {
    margin: 1rem;
  }

  .company-title {
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 0.8em;
    font-weight: bold;
  }
  
  .product-title {
    text-transform: capitalize;
    color: var(--very-dark-blue);
    font-size: 2em;
    font-weight: bold;
  }
  
  .product-description {
    color: var(--dark-grayish-blue);
    font-size: 0.85rem;
    line-height: 1.5rem;
  }

  .price-section {
    display: flex;
    align-items: center;
  }

  .price-container {
    display: flex;
    align-items: center;
  }

  .old-price-container {
    margin-left: auto;
    padding: 0 0.5rem;
  }
  
  .current-price {
    color: var(--very-dark-blue);
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
  }

  .percent-off-container {
    margin-left: 1rem;
    width: auto;
    display: flex;
    align-items: center;
  }
  
  .percent-off {
    padding: 0.3em;
    border-radius: 0.5em;
    color: var(--main-color);
    background-color: var(--hover-color);
    font-weight: bold;
  }
  
  .old-price {
    color: var(--grayish-blue);
    text-decoration: line-through;
    font-weight: bold;
    margin: 0;
  }

  .counter-area {
    display: flex;
    justify-content: center;
  }

  .counter-section {
    width: 80vw;
    margin: 1rem 0;
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1em;
    padding: 0 1em;
  }

  .counter-container {
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .counter {
    background-color: var(--light-grayish-blue);
    border: none;
  }

  .counter-text {
    color: var(--very-dark-blue);
    font-weight: bold;
  }

  .submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .submit {
    width: 90vw;
    background-color: var(--main-color);
    border: none;
    border-radius: 1em;
    color: var(--white);
    font-weight: bold;
    font-family: 'Kumbh Sans', sans-serif;
  }

  .cart-img {
    margin: 0 1em;
  }
}

/* Large devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .menu-toggler {
    display: none;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0;
    margin: 0 10rem;
    width: 1100px;
  }

  .logo-section {
    display: flex;
    align-items: center;
  }

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    padding-left: 5em;
  }

  .nav-link {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    padding: 0 1em;
  }

  .avatar-img-container {
    margin-left: 3em;
  }

  .avatar-img {
    height: 50px;
    width: 50px;
  }

  .main-container {
    margin: 4rem 10rem;
    display: flex;
    max-height: 100%;
    min-height: min-content;
  }

  .product-img-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }

  .product-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
  }

  .product-img {
    border-radius: 1em;
    width: 350px;
  }

  .product-thumbnail-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    width: 350px;
  }

  .product-thumbnail {
    border-radius: 0.7em;
    width: 80px;
  }

  .product-info-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    width: 300px;
    height: 300px;
  }

  .company-title {
    margin: 3rem 0 0 0;
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 1em;
    font-weight: bold;
  }
  
  .product-title {
    margin: 0.5em 0;
    width: 400px;
    text-transform: capitalize;
    color: var(--very-dark-blue);
    font-size: 2.5em;
    font-weight: bold;
  }
  
  .product-description {
    width: 450px;
    color: var(--dark-grayish-blue);
    font-size: 1em;
  }

  .price-container {
    display: flex;
    align-items: center;
  }
  
  .current-price {
    color: var(--very-dark-blue);
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
  }

  .percent-off-container {
    margin-left: 1em;
  }
  
  .percent-off {
    display: flex;
    align-items: center;
    padding: 0.3em;
    border-radius: 0.5em;
    color: var(--main-color);
    background-color: var(--hover-color);
    font-weight: bold;
  }
  
  .old-price {
    color: var(--grayish-blue);
    text-decoration: line-through;
    font-weight: bold;
    margin: 0;
  }

  .buying-area {
    width: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    margin-top: 1.5em;
  }

  .counter-section {
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1em;
    padding: 0 1em;
  }

  .counter-container {
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .counter {
    background-color: var(--light-grayish-blue);
    border: none;
  }

  .counter-text {
    color: var(--very-dark-blue);
    font-weight: bold;
  }

  .submit {
    width: 100%;
    background-color: var(--main-color);
    border: none;
    border-radius: 1em;
    color: var(--white);
    font-weight: bold;
    font-family: 'Kumbh Sans', sans-serif;
  }

  .cart-img {
    margin: 0 1em;
  }
}